$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(201, 69, 59);
$tertiary-color: #fff;
$quaternary-color: rgba(38, 148, 153, 0.04);
$font-family-primary: Ribeye, cursive;
$font-family-secondary: Roboto, sans-serif;
$font-family-tertiary: Gelasio;
$font-size-small: 18px;
$font-size-medium: 43px;
$font-size-big: 65px;