$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(201, 69, 59);
$font-family-primary: Ribeye, cursive;
$font-family-secondary: Roboto, sans-serif;
$font-family-tertiary: Gelasio;
$font-size-heading: 24px;
$font-size-logo: 18px;
$font-size-navbar: 18px;
$font-size-title: 43px;
$font-size-description: 18px;
$font-weight-logo: 400;
$font-weight-navbar: 500;
$line-height-logo: 150%;
$line-height-navbar: 150%;
$letter-spacing-heading: 6%;
$letter-spacing-navbar: 0%;
$navbar-padding: 27px 0;
$navbar-menu-gap: 50px;
$button-padding: 14px 35px;
$button-border-radius: 5px;
$button-text-color: rgb(255, 255, 255);
$button-font-size: 16px;
$button-font-weight: 400;
$button-font-height: 150%;
$button-big-margin-left: 230px;
$button-big-padding: 18px 46px;
$main-poster-background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url(/LAB7/img/First.png);
$main-poster-height: 100vh;
$main-poster-title-padding: 181px 0px 30px 230px;
$main-poster-text-color: #fff;
$main-poster-description-padding-left: 230px;
$main-poster-title-font-size: 65px;
$main-poster-title-font-weight: 700;
$main-poster-title-line-height: 120%;
$main-poster-description-padding-left: 230px;
$main-poster-description-padding-bottom: 40px;
$main-poster-description-text-color: #fff;
$main-poster-description-font-size: 18px;
$main-poster-description-font-weight: 400;
$main-poster-description-line-height: 160%;
$text-content-title-padding-top: 140px;
$text-content-title-padding-bottom: 20px;
$text-content-title-font-size: 43px;
$text-content-title-line-height: 140%;
$text-content-description-width: 100vw;
$text-content-description-font-size: 18px;
$text-content-description-font-weight: 400;
$text-content-description-line-height: 160%;
$content-padding: 50px 0 103px 0;
$content-gap: 31px;
$card-border-radius: 10px;
$card-font-size: 18px;
$card-font-weight: 400;
$card-font-height: 160%;
$card-title-font-size: 24px;
$card-title-font-weight: 500;
$card-title-font-height: 150%;
$card-title-line-height: 150%;
$card-title-padding-top: 35px;
$card-background: rgb(255, 255, 255);
$card-height: 500px;
$card-hover-box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
$footer-background: rgba(38, 148, 153, 0.04);
$footer-padding: 46px 231px;
$card-text-color: #000;
$card-border: 1px solid rgba(0, 0, 0, 0.1);
$card-width: 360px;
