.div {
  width: 1000px;
  border: 5px solid #f00;
}
.div .text {
  font-size: 32px;
  color: #900;
}
.div .text2 {
  font-size: 15px;
  color: #f66;
}
.div .text3 {
  font-size: 32px;
  color: #ff0;
}
