text-color=red

border = 5px solid text-color

add(a,b)
    a+b

w(x)
    width: x

.div
    w(1000px)
    border: border

    .text
        font-size:32px   
        color: darken(text-color,40%)
    .text2
        font-size: add(10px,5px)
        color: lighten(text-color,40%)
    .text3
        font-size: 32px
        color: invert(blue)
