$text-color: red;
$border: 1px solid black;
$width: 300px;
@mixin red {
  color: red;
}
@mixin blue {
  color: blue;
}
@mixin green {
  color: green;
}
@mixin h($h) {
  height: $h;
}
@mixin w($w) {
  width: $w;
}
