@import "_vars";

.first {
  color: $text-color;
  border: $border;
  width: $width;
}
.second {
  color: $text-color;
  border: $border;
  width: $width;
}
.third {
  color: $text-color;
  border: $border;
  width: $width;
}

// .first {
//   @include red;
// }
// .second {
//   @include blue;
// }
// .third {
//   @include green;
// }

// .first,
// .second,
// .third {
//   @include h(200px);
//   @include w(200px);
// }

$i: 1;

@while $i < 101 {
  .f#{$i} {
    font-size: 1px * $i;
  }
  $i: $i + 1;
}
