* {
  padding: 0;
  margin: 0;
}
html,
body {
  overflow-x: hidden;
}
.container {
  max-width: calc(100vw - 135px * 2);
  margin: 0 auto;
}
header {
  background: rgb(40, 41, 62);
}
.navbar {
  padding: 27px 0;
  display: grid;
  grid-template-columns: min-content minmax(min-content, 515px) min-content;
  justify-content: space-between;
}
.burger {
  display: none;
}
.logo {
  width: max-content;
}
.logo__picture {
  gap: 14px;
  display: flex;
  height: 48px;
  align-self: center;
  color: #fff;
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 6%;
}
.logo__text {
  align-self: center;
  color: rgb(255, 255, 255);
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.navbar-menu__item-link {
  color: rgb(255, 255, 255);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
}
.navbar-menu {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  justify-content: space-around;
  align-content: center;
  text-align: center;
}
.navbar-menu__item {
  list-style-type: none;
}
.button {
  padding: 14px 35px;
  border-radius: 6px;
  background: rgb(40, 41, 62);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Epilogue;
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.main-poster {
  padding-top: 104px;
  display: grid;
  grid-template-rows: min-content;
  background: rgb(40, 41, 62);
  padding-bottom: 70px;
}
.main-poster__title {
  color: rgb(255, 255, 255);
  font-family: Epilogue;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: center;
}
.main-poster__description {
  color: rgba(255, 255, 255, 0.64);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  max-width: 570px;
  margin: 0 auto;
}
.main-about {
  padding-top: 80px;
}
.main-about__title {
  margin-bottom: 34px;
  color: rgb(239, 109, 88);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}
.main-about__content {
  display: grid;
  grid-template-columns: minmax(min-content, 417px) minmax(min-content, 570px);
  justify-content: space-between;
  gap: 10vw;
}
.main-about__text {
  color: rgba(57, 20, 0, 0.64);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.main-about__text_big {
  color: rgb(57, 20, 0);
  font-family: Epilogue;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  align-self: center;
}
.main-about__pictures {
  justify-content: center;
  gap: 30px;
  display: grid;
  margin-top: 127px;
  grid-template-areas:
    "video img_1 img_2"
    "video img_3 img_4";
}
.main-about__video {
  border-radius: 6px;
  background: rgb(92, 32, 0);
  width: 47vw;
  height: 100%;
  grid-area: video;
}
.main-about__pictures > img {
  width: 17.5vw;
}
.main-about__picture1 {
  grid-area: img_1;
}
.main-about__picture2 {
  grid-area: img_2;
}
.main-about__picture3 {
  grid-area: img_3;
}
.main-about__picture4 {
  grid-area: img_4;
}
.main-feature {
  row-gap: 12px;
  column-gap: 130px;
  justify-content: space-between;
  display: grid;
  padding-top: 192px;
  margin-bottom: 128px;
  grid-template-areas:
    "title box"
    "bt box"
    "st box";
}
.main-features__title {
  grid-area: title;
  color: rgb(239, 109, 88);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}
.main-features__boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: box;
}
.main-features__text {
  grid-area: st;
  color: rgba(57, 20, 0, 0.64);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 370px;
}
.main-features__text_fatty {
  grid-area: bt;
  color: rgb(57, 20, 0);
  font-family: Epilogue;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 370px;
}
.main-features__box {
  padding-left: 48px;
  padding-right: 48px;
  max-width: 336px;
  height: 272px;
  box-sizing: border-box;
  border: 1px solid rgb(243, 209, 191);
  box-shadow: 0px 32px 64px 0px rgba(57, 20, 0, 0.04);
  background: rgb(255, 255, 255);
}
.main-features__box-1 {
  border-radius: 6px 0px 0px 6px;
}
.main-features__box-2 {
  border-radius: 0px 6px 6px 0px;
}
.main-features__box:hover {
  background: rgb(253, 240, 233);
}
.main-features__box-title {
  padding-top: 105px;
  color: rgb(57, 20, 0);
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.main-features__box-text {
  text-align: left;
  color: rgba(57, 20, 0, 0.64);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
}
.table {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 35vw));
  margin-bottom: 128px;
}
.table-item {
  padding: 45px 145px 38px 48px;
  height: 176px;
  box-sizing: border-box;
  border: 1px solid rgb(243, 209, 191);
}
.table-item_center {
  border-radius: 0;
  padding: 45px 145px 38px 48px;
  box-sizing: border-box;
  border: 1px solid rgb(243, 209, 191);
  height: 176px;
}
.table-item_left {
  border-radius: 6px 0px 0px 6px;
}
.table-item_right {
  border-radius: 0px 6px 6px 0px;
}
.table-item:hover {
  background: rgb(253, 240, 233);
}
.table-item__title {
  color: rgb(57, 20, 0);
  font-family: Epilogue;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
.table-item__text {
  padding-top: 13px;
  color: rgb(57, 20, 0);
  font-family: Epilogue;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.main-team {
  padding-bottom: 592px;
  padding-top: 92px;
  background: rgb(40, 41, 62);
}
.main {
  position: relative;
  z-index: 2;
}
.main-team__title {
  text-transform: uppercase;
  color: rgb(239, 109, 88);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}
.main-team__description {
  margin-top: 20px;
  display: block;
  color: rgb(255, 255, 255);
  font-family: Epilogue;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  width: 571px;
}
.representatives__item-name {
  padding-top: 26px;
  color: rgb(255, 255, 255);
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.representatives__item-text {
  color: rgba(255, 255, 255, 0.64);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.representatives {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  justify-content: space-between;
  gap: 30px;
}
.img-box {
  display: flex;
  width: 20vw;
  height: 400px;
  box-sizing: border-box;
  border: 1px solid rgb(58, 60, 86);
  border-radius: 6px;
  justify-content: center;
  align-items: end;
}
.img-box__picture-1 {
  width: auto;
  height: auto;
}

.img-box__picture-2 {
  width: auto;
  height: auto;
}

.img-box__picture-3 {
  width: auto;
  height: auto;
}

.img-box__picture-4 {
  width: auto;
  height: auto;
}
.main-help {
  display: grid;
  grid-template-areas:
    "title img"
    "text img"
    "btn img";
  bottom: -100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: calc(100vw - 135px * 2);
  height: 544px;
  border-radius: 6px;
  background: rgb(239, 109, 88);
  justify-content: space-evenly;
  align-content: center;
  z-index: 99;
}
.main-help__title {
  grid-area: title;
  display: block;
  width: 368px;
  color: rgb(255, 255, 255);
  font-family: Epilogue;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  height: max-content;
  align-self: self-end;
}
.main-help__text {
  grid-area: text;
  display: block;
  width: 470px;
  color: rgba(255, 255, 255, 0.64);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  align-self: self-end;
}
.main-help__image {
  grid-area: img;
}
.button_white {
  width: fit-content;
  height: min-content;
  grid-area: btn;
  background: #fff;
  align-self: self-end;
  color: black;
}
.footer {
  background: rgb(253, 240, 233);
  position: relative;
  z-index: 1;
  padding-top: 250px;
}
.footer-info {
  justify-content: space-between;
  display: grid;
  grid-template-areas:
    "title mt st sg"
    ". mi si .";
}
.line {
  margin-top: 68px;
  margin-bottom: 43px;
  background: rgb(243, 209, 191);
  height: 2px;
  width: 100%;
}
.footer-menu__title,
.footer-service__title {
  color: rgb(239, 109, 88);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  text-transform: uppercase;
}
.footer-menu__title {
  grid-area: mt;
}
.footer-service__title {
  grid-area: st;
}
.footer-menu__items,
.footer-service__items {
  list-style-type: none;
}
.footer-menu__items {
  grid-area: mi;
}
.footer-service__items {
  grid-area: si;
}
.footer-menu__item-link,
.footer-service__item-link {
  text-decoration: none;
  color: rgb(57, 20, 0);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__title {
  grid-area: title;
  color: rgb(57, 20, 0);
  font-family: Epilogue;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.menu-social {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, min-content);
  list-style-type: none;
}
.menu-social__item {
  background: rgb(239, 109, 88);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialgroup {
  grid-area: sg;
}
.copyright__text {
  color: rgba(57, 20, 0, 0.64);
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.copyright {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  padding-bottom: 52px;
}
.copyright__info-link {
  color: rgb(57, 20, 0);
  font-family: Epilogue;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: right;
}
.copyright__info {
  display: grid;
  gap: 68px;
  grid-template-columns: repeat(2, max-content);
}
@media (max-width: 1235px) {
  .main-poster__title {
    font-size: 50px;
  }
  .main-poster__description {
    font-size: 13px;
  }
  .main-about__content {
    gap: 1vw;
  }
  .navbar {
    padding: 27px 0;
  }
  .main-about__pictures {
    gap: 1vw;
    text-align: justify;
  }
  .main-about__picture1,
  .main-about__picture2,
  .main-about__picture3,
  .main-about__picture4 {
    width: 19vw;
  }
  .main-about__text_big {
    font-size: 5vw;
  }
  .main-feature {
    column-gap: 5vw;
    grid-template-areas:
      "title title"
      "bt bt"
      "st st"
      "box box";
  }
  .main-features__boxes {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .main-features__box-1 {
    border-radius: 6px 6px 0 0;
    width: 60vw;
  }
  .main-features__box-2 {
    border-radius: 0 0 6px 6px;
    width: 60vw;
  }
  .main-features__text {
    margin: 0 auto;
    font-size: 2vw;
    text-align: justify;
  }
  .main-features__box-title {
    padding-top: 5vw;
    font-size: 2vw;
  }
  .main-features__box-text {
    font-size: 1.8vw;
  }
  .representatives {
    justify-content: center;
    margin-top: 64px;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    gap: 5px;
  }
  .table-item {
    width: 25vw;
    height: auto;
    padding: 5vw;
  }
  .table-item__text {
    text-align: center;
  }
  .table-item__title {
    text-align: center;
  }
  .table {
    grid-template-rows: repeat(3, minmax(min-content, 25vw));
    grid-template-columns: auto;
  }
  .table-item {
    width: 60vw;
  }
  .table-item_left {
    border-radius: 6px 6px 0 0;
  }
  .table-item_right {
    border-radius: 0 0 6px 6px;
  }
  .main-help {
    width: 75vw;
    justify-content: center;
    column-gap: 5vw;
  }
  .main-help__title {
    font-size: 3vw;
    width: 35vw;
  }
  .main-help__text {
    font-size: 3vw;
    width: 35vw;
  }
  .main-help__image {
    align-self: center;
    width: 25vw;
  }
  .copyright__info {
    gap: 0;
  }
  .copyright__text {
    width: 50vw;
  }
  .img-box {
    width: 40vw;
  }
  .copyright {
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, min-content);
    justify-content: center;
  }
  .copyright__info-item-1 {
    grid-column-end: 1;
  }
  .copyright__info-item-2 {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .copyright__text {
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
  }
}
@media (max-width: 815px) {
  .navbar {
    display: none;
  }
  .burger {
    display: block;
    padding-top: 5vw;
    width: 10vw;
  }
  .table-item {
    height: auto;
  }
  .table-item__text {
    font-size: 3vw;
  }
  .table-item__title {
    font-size: 3vw;
  }
  .main-features__box-text {
    line-height: 16px;
  }
  .main-features__box {
    align-self: center;
    height: 200px;
  }
  .main-team__description {
    margin: 0 auto;
    font-size: 40px;
    width: fit-content;
  }
  .main-about__text {
    font-size: 3vw;
    line-height: 25px;
  }
  .main-about__text_big {
    line-height: 25px;
  }
  .img-box__picture-2 {
    width: 200px;
  }
  .main-about__pictures {
    grid-template-areas:
      "video"
      "img_1"
      "img_2"
      "img_3"
      "img_4";
  }
  .main-about__pictures video {
    width: 81vw;
  }
  .img-box {
    height: 300px;
  }
  .representatives__item-name {
    width: max-content;
  }
  .container {
    max-width: calc(100vw - 135px);
  }
  .main-about__pictures {
    grid-template-columns: 1;
  }
  .main-about__pictures > img {
    width: 81vw;
  }
  .main-features__box:hover {
    background: none;
  }
  .table-item:hover {
    background: none;
  }
}
@media (max-width: 576px) {
  .main-about__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
  }
  .main-about__text {
    font-size: 14px;
  }
  .main-about__text_big {
    padding-left: 0;
    text-align: center;
    margin: 0 auto;
    width: 80vw;
    font-size: 4vw;
  }
  .representatives {
    grid-template-columns: none;
    grid-template-rows: repeat(4, max-content);
    align-self: center;
  }
  .representatives__item {
    width: min-content;
  }
  .main-team__description {
    margin: 0 auto;
    width: max-content;
    text-align: center;
    font-size: 4vw;
  }
  .table-item__title {
    font-size: 5vw;
  }
  .table-item__text {
    font-size: 3vw;
  }
  .table-item {
    height: auto;
  }
  .main-feature {
    padding-top: 70px;
    column-gap: 2vw;
  }
  .main-features__boxes {
    margin: 0 auto;
    padding-right: 0;
    width: 75vw;
  }
  .main-about__pictures {
    grid-template-areas:
      "video"
      "img_1"
      "img_2"
      "img_3"
      "img_4";
  }
  .main-about__pictures > img {
    width: 81vw;
  }
  .main-about__pictures video {
    width: 81vw;
  }
  .main-help {
    grid-template-areas:
      "title"
      "text"
      "img"
      "btn";
    padding: 50px 0;
    justify-content: start;
    height: auto;
  }
  .main-help__title {
    text-align: center;
    width: auto;
  }
  .main-help__text {
    width: auto;
    text-align: center;
  }
  .main-help__image {
    margin: 0 auto;
    width: 60vw;
    padding-bottom: 20px;
  }
  .button_white {
    margin: 0 auto;
  }
  .representatives__item > img {
    width: 75vw;
    height: auto;
  }
  .representatives__item-name {
    text-align: center;
  }
  .main-features__title {
    text-align: center;
    font-size: 5vw;
  }
  .main-features__box:hover {
    background: none;
  }
  .table-item:hover {
    background: none;
  }
  .main-features__text {
    width: 75vw;
    font-size: 3vw;
    text-align: center;
    padding: 0;
  }
  .main-feature {
    margin-top: 100px;
    padding-top: 0;
    margin-bottom: 0;
  }

  .main-features__text_fatty {
    width: 75vw;
    text-align: center;
  }
  .main-features__boxes {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
  .main-features__box-title {
    font-size: 4vw;
  }
  .main-features__box {
    padding-left: 24px;
    padding-right: 24px;
  }
  .main-features__box-text {
    font-size: 3vw;
  }
  .main-features__box {
    width: 45vw;
    height: 35vh;
  }
  .table {
    padding-top: 50px;
  }
  .footer-info {
    grid-template-areas:
      "title"
      "mt"
      "mi"
      "st"
      "si"
      "sg";
    justify-content: center;
    text-align: center;
  }
  .footer__title {
    text-align: center;
  }
  .img-box__picture-2 {
    width: 230px;
  }
  .copyright {
    grid-template-columns: none;
    grid-template-rows: repeat(3, min-content);
    justify-content: center;
    padding: 0;
  }
  .copyright__text {
    width: 75vw;
  }
  .footer {
    padding-top: 150px;
  }
  .img-box {
    width: 248px;
    height: 300px;
  }
  .container {
    max-width: calc(100vw - 25px * 2);
  }
}
