html,
body {
  overflow-x: hidden;
}
.task1 {
  display: grid;
  grid-template-columns: 50px 100px 20px 300px;
  grid-template-rows: 100px 100px 100px 100px 100px;
}
/*.task1 {
  display: grid;
  grid-template-columns: 50px 100px 20px 300px;
  grid-template-rows: repeat(5, 100px);
}*/
.task3 {
  height: 100%;
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
  border: 1px solid black;
}
.content {
  border: 1px solid black;
}
.task4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 100px);
}
.container1 {
  display: grid;
  grid-template-columns: min-content;
}
.container2 {
  display: grid;
  grid-template-columns: max-content;
}
.container3 {
  display: grid;
  grid-template-columns: 100px min-content min-content min-content 50px;
}
.container3 > div {
  padding: 5px;
  border: 1px solid black;
}
.container4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
}
.container4 > div {
  border: 1px solid black;
}

.img {
  grid-area: img;
}
.title {
  grid-area: title;
}
.price {
  grid-area: price;
}
.location {
  grid-area: location;
}
.underground {
  grid-area: underground;
}
.text {
  grid-area: text;
}
.emoji {
  grid-area: emoji;
}
.date {
  grid-area: date;
}
.container5 {
  width: 1000px;
  border: 1px solid black;
  display: grid;
  grid-template-areas:
    "img title price"
    "img location date"
    "img underground ."
    "img text emoji"
    "img . .";

  grid-template-columns: min-content 1fr 1fr;
  column-gap: 20px;
}
.container6 {
  display: grid;
  gap: 10px;
  grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr;
  grid-template-rows: [row1] 100px [row2] 100px [row3] 100px;
}
.container6 > div {
  text-align: center;
}
.container6 > div {
  border: 1px solid black;
}
.divA {
  background: rgb(104, 154, 219);
}
.divB {
  background: orange;
}
.divC {
  grid-column-start: 1;
  grid-row-start: 1;
  background: green;
}
.divE {
  grid-column-start: col2;
  grid-row: row1 / row3;
  background: green;
}
.divJ {
  background: orange;
}
.divI {
  background: rgb(104, 154, 219);
}

.container7 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 50%;
}
.container7 > div {
  background: #404040;
  padding: 10px 15px;
  border-radius: 10px;
}
.A {
  grid-column-start: span 2;
}

.B {
  grid-column-end: span 2;
}

.C {
  grid-column-start: 1;
}

.D {
  grid-column-end: span 3;
}
.E {
  grid-column-start: span 4;
}

.surname {
  grid-area: surname;
}
.name {
  grid-area: name;
}
.date-last {
  grid-area: date-last;
}
.input-surname {
  grid-area: is;
}
.input-name {
  grid-area: in;
}
.input-date {
  grid-area: id;
}
.submit {
  grid-area: sub;
}
.container8 {
  width: 50%;
  display: grid;
  grid-template-areas:
    "surname is"
    "name in"
    "date-last id"
    "sub sub";
}
@media (max-width: 576px) {
  .container8 {
    width: 50%;
    display: grid;
    grid-template-areas:
      "surname"
      "is"
      "name"
      "in"
      "date-last"
      "id"
      "sub";
  }
}
