$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(201, 69, 59);
$font-family: "Roboto", sans-serif;
$font-family-header: "Gelasio", serif;
$font-family-logo: "Ribeye", cursive;
$font-size-base: 16px;
$padding-base: 0;
$margin-base: 0;
$navbar-padding: 27px 0;
$navbar-menu-gap: 50px;
$button-padding: 14px 35px;
$button-big-margin-left: 230px;
$main-poster-padding-left: 230px;
$text-content-title-padding-top: 140px;
$content-padding: 50px 0 103px 0;
$card-width: 360px;
$card-height: 500px;
$footer-padding: 46px 231px 46px 231px;