div {
  display: flex;
  margin-bottom: 50px;
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
}
.flex1 {
  background: beige;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.flex2 {
  background: beige;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.flex3 {
  background: beige;
  gap: 10px;
  justify-content: end;
  align-items: center;
}
.flex4 {
  background: beige;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.flex5 {
  height: 130px;
  background: beige;
  align-content: start;
  flex-direction: column;
}
.flex6 {
  background: beige;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.chessboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
}
.chessboard > div:nth-child(odd) {
  background-color: black;
}
.chessboard > div {
  width: 150px;
  height: 150px;
  margin-bottom: 0;
}
.second {
  width: 98vw;
  height: 600px;
  justify-content: space-around;
}
.second > div {
  width: 100px;
  height: 100px;
  background: green;
}
.second > div:first-child,
.second > div:last-child {
  align-self: end;
}
.second > div:nth-child(2n) {
  align-self: center;
}
.third {
  width: 400px;
  display: flex;
  gap: 10px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}
.third > div {
  margin-bottom: 0;
  flex-basis: 35px;
  background: yellow;
}
.third > div:nth-child(8) {
  flex-grow: 1;
}
.third > div:first-child,
.third > div:last-child {
  background: green;
}
.third > div:last-child {
  flex-basis: 100%;
}
.fourth {
  margin-top: 100px;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
  border: 1px solid black;
}
img {
  width: 75px;
  height: 75px;
}
.fourth > div:first-child {
  flex-basis: 300px;
}
.last {
  display: flex;
  width: 50vw;
  height: 50px;
  border: 1px solid black;
}
.last > div:first-child {
  background-color: yellow;
  flex: 0 7em;
}
.last > div:nth-child(2) {
  background: orange;
  flex: 0 2 7em;
}
.last > div:nth-child(3) {
  background: red;
  flex: 1 0;
}
.last > div:last-child {
  flex: 2 0;
  background: purple;
}




.fifth {
  width: 175px;
  flex-direction: column;
  flex-wrap: wrap;
  height: 165px;
  justify-content: space-between;
  align-content: space-between;
}
.fifth > div {
  margin-bottom: 0;
  width: 50px;
  background: blue;
}
.fifth > div:nth-child(3) {
  flex-basis: 100px;
}






.flex_6ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 10px;
}
.ul_1 {
  padding-left: 0;
  width: 100%;
  justify-content: space-between;
}
.ul_2 {
  padding-left: 0;
  justify-content: start;
}
.ul_3 {
  justify-content: end;
}
.ul_4 {
  justify-content: center;
}
.ul_5 {
  flex-direction: column;
  gap: 0;
}
