* {
  margin: 0;
  padding: 0;
}
body,
html {
  overflow-x: hidden;
}
nav {
  padding: 30px 160px 27px;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
a {
  color: rgb(87, 78, 86);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 6%;
  text-align: left;
  text-decoration: none;
}
.container {
  min-width: calc(100vw - 160px);
  margin: 0 auto;
}
.info {
  width: min-content;
  color: rgb(87, 78, 86);
  font-family: Lora;
  font-size: 80px;
  font-weight: 400;
  line-height: 102px;
  letter-spacing: 0%;
  text-align: left;
  padding: 150px 200px 0 0;
}
.field {
  color: rgb(87, 78, 86);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 6%;
  text-align: left;
}
.header_img {
  width: auto;
  height: auto;
}
.header_info {
  display: flex;
  justify-content: space-between;
}
.header_info > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_content {
  background: rgb(249, 248, 246);
  display: flex;
  justify-content: space-evenly;
  gap: 10.5vw;
}
.img_2 {
  width: 237px;
  height: 178px;
}
h1 {
  color: rgb(87, 78, 86);
  font-family: Lora;
  font-size: 40px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 160px;
  padding-top: 88px;
  padding-bottom: 50px;
}
.main_content {
  padding-left: 35px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.main_content > img {
  width: 530px;
  height: 580px;
}
.about_me {
  background: rgb(87, 78, 86);
}
h2 {
  color: rgb(87, 78, 86);
  font-family: Lora;
  font-size: 40px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 100px;
  padding-left: 160px;
  padding-bottom: 80px;
}

h4 {
  color: rgb(87, 78, 86);
  font-family: Lora;
  font-size: 40px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 100px;
  padding-left: 160px;
  padding-bottom: 80px;
}
.info_about_me {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 200px;
}
.info_about_me > img {
  padding-left: 40px;
  width: 35vw;
  height: auto;
}
.play {
  background: rgb(246, 213, 167);
  width: 78px;
  height: 78px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: -97px;
  z-index: 10;
}
.in_play {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 30px;
  left: 32px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
}
.text {
  paint-order: stroke fill;
  align-self: center;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  width: 456px;
  height: 336px;
}
.general_parent {
  height: 178px;
}
.parent {
  position: relative;
  width: 316px;
  width: 178px;
}
h3 {
  color: white;
  font-family: Lora;
  font-size: 40px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 100px;
  padding-left: 160px;
  padding-bottom: 91px;
}
.input form {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding-left: 160px;
}
[type="text"] {
  display: flex;
  flex-direction: column;
  width: 505px;
  height: 65px;
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221);
  background: rgba(196, 196, 196, 0);
  padding-left: 19px;
  padding-left: 19px;
  color: black;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
[type="text"]::placeholder {
  color: rgb(172, 169, 169);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea {
  width: 505px;
  height: 245px;
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221);
  background: rgba(196, 196, 196, 0);
  resize: none;
  padding-left: 19px;
  padding-top: 27px;
  padding-left: 19px;
  color: black;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
textarea:default {
  padding-left: 19px;
  padding-top: 27px;
}
textarea::placeholder {
  color: rgb(172, 169, 169);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
textarea:focus {
  padding-left: 19px;
  color: black;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 27px;
}

[type="submit"] {
  width: 235px;
  height: 65px;
  box-sizing: border-box;
  border: 1px solid rgba(221, 221, 221, 0);
  background: rgb(246, 213, 167);
  color: rgb(87, 78, 86);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1px;
}
.contacts {
  display: flex;
  justify-content: space-around;
  padding-bottom: 180px;
  gap: 200px;
}
.card_info {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  display: flex;
  justify-content: start;
  flex-basis: 20em;
  transition-duration: 2s;
}
.card > img {
  align-self: flex-start;
  width: 30px;
  padding-right: 10px;
}
.cards {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card div > span,
.card div > p {
  color: rgb(87, 78, 86);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 6%;
  text-align: left;
}
.card div > span {
  text-transform: uppercase;
  padding-bottom: 6px;
}
.last {
  text-align: center;
  color: rgb(87, 78, 86);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  padding-bottom: 51px;
}
.burger {
  display: none;
}
@media (max-width: 1552px) {
  .header_content {
    gap: 3vw;
  }
  .input form {
    padding-left: 5vw;
  }
  .contacts {
    gap: 10vw;
  }
  .info {
    font-size: 5vw;
    padding: 100px 0 10px;
    line-height: 75px;
  }
  .header_img {
    height: 86vh;
  }
  .img_2 {
    padding-left: 0;
  }
  .main_content > img {
    width: 45vw;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .contacts {
    gap: 3vw;
  }
  .header_img {
    width: 45vw;
    height: 56vw;
  }
  .info {
    font-size: 5vw;
    padding: 100px 0 10px;
    line-height: 75px;
    line-height: 5vw;
  }
  .play {
    top: 54px;
  }
  .img_2 {
    padding-left: 0;
  }
  textarea,
  [type="text"] {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  .burger {
    display: block;
    width: 40px;
    padding-left: 0;
  }
  nav {
    padding-left: 80px;
  }
  .text {
    line-height: 3vw;
    font-size: 14px;
    letter-spacing: 0.2px;
    width: 400px;
    height: 45vw;
    text-align: justify;
  }
  .play {
    vertical-align: middle;
  }
  textarea,
  [type="text"] {
    width: 75vw;
  }
  .input,
  [type="submit"] {
    margin: 0 auto;
    padding-left: 0;
  }
  h3 {
    padding-left: 5vw;
  }
  .info {
    width: 100%;
    padding-top: 50px;
    text-align: center;
  }
  .info_about_me {
    flex-direction: column;
    padding-bottom: 0;
  }
  .info_about_me > img {
    margin: 0 auto;
    padding-left: 0;
    width: 75vw;
    padding-bottom: 20px;
  }
  h2 {
    padding-top: 80px;
    padding-left: 5vw;
  }
  .header_content {
    gap: 0;
  }
  ul {
    display: none;
  }
  .header_img {
    display: none;
  }
  br {
    display: none;
  }
  .img_2 {
    width: 75vw;
    height: auto;
  }
  .field {
    text-align: center;
    padding-bottom: 10px;
  }
  .play {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main_content > img {
    width: 75vw;
    height: auto;
  }
  h1,
  h2,
  h3 {
    width: 50%;
    padding: 50px 0;
    text-align: center;
  }
  .general_parent {
    height: auto;
    width: auto;
  }
  .parent {
    height: auto;
    width: auto;
  }
  .contacts {
    flex-direction: column;
    padding-bottom: 70px;
  }
  .card_info {
    margin: 0 auto;
    gap: 15px;
    padding-top: 5vw;
  }
  .card {
    flex-basis: 12em;
  }
  .main_content {
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  .main_content {
    padding-left: 0;
  }
  .header_info {
    flex-direction: column;
  }
  .main_content > img {
    width: 80vw;
    height: auto;
  }
  h1 {
    width: 50%;
    padding-left: 0;
    text-align: center;
  }
  h2 {
    color: rgb(87, 78, 86);
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  h3 {
    color: white;
    width: 100%;
    padding-left: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contacts {
    flex-direction: column;
    padding-bottom: 50px;
  }
  [type="text"] {
    width: 280px;
  }
  textarea {
    width: 280px;
  }
  .card_info {
    align-content: space-between;
    justify-content: unset;
    gap: 20px;
  }
  .img_2,
  .play,
  .in_play {
    display: none;
  }
  .header_img {
    display: block;
    margin: 0 auto;
    width: 75vw;
    height: auto;
  }
  .header_content {
    flex-direction: column;
  }
  .text {
    font-size: 10px;
    line-height: 10px;
  }
  .info_about_me > img {
    height: 20vh;
  }
  .info_about_me > img {
    height: auto;
  }
  .text {
    width: 75vw;
    font-size: 10px;
  }
}
